extends layout

block content
    div Êtes vous sûr de vouloir supprimer le produit #{name} ?

    button.btn.btn-primary.grid-item(type='submit') Oui
    button.btn.btn-primary.grid-item(type='submit') Non